.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.petInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petInfos p {
  font-size: 22px;
}

.petImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: fill;
}

.petDetails {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}
